body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: red;
}

#list-images {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  gap: .75rem;
}

#list-images li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: .75rem;
  border: 1px solid gray;
  padding: 5px;
  width: 30%;
}

#list-images li img {
  height: 5rem;
  width: 100%;
  display: block;
  object-fit: contain;
}